body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-image: url('xlogo_bg.png'); /* Ersetze 'background.jpg' mit dem Namen deines Bildes */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #327864;
}

.container {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den Fieldsets */
    margin: 50px;
}

.left-fieldset, .right-fieldset  {
    flex: 1;
    background-color: transparent;
    border-radius: 15px;
    margin: 10px;
}

label {
    display: block; /* Label nimmt die gesamte Breite ein */
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"]  {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

/* Styling für den Submit-Button */
button[type="submit"] {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: grey;
}
