body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den Fieldsets */
    margin: 20px;
}

.left-fieldset {
    background-color: #e3ecf3;
}

.right-fieldset {
    background-color: #acb4bc;
}

label {
    display: block; /* Label nimmt die gesamte Breite ein */
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

/* Styling für den Submit-Button */
button[type="submit"] {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: grey;
}