* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    color: #173936;
    background-color: #327864;
    min-height: 100vh;
    min-width: 800px;
}

header {
    width: 200px;
    height: 100px;
    float: right;
}

header #auge-button {
    margin-top: 20px;
    background-color: transparent;
    background-image: url("../images/auge.png");
    height: 60px;
    width: 82px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: black;
}

form {
    display: grid;
    grid-template-rows: 11% 11% 11% auto 11% 11% auto 11% 11% 11%;
    grid-template-columns: 49% auto 49%;
    width: 500px;
}

.form-element {
    height: 74px;
}

#form-user {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#form-vorname {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#form-nachname {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#form-geburtstag {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#form-strasse {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}

#form-plz {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

#form-ort {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

#form-email {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 8;
}

#form-pw {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 9;
    grid-row-end: 9;
}

#form-pw-wdhl {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9;
}

#form-submit {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 10;
    grid-row-end: 10;
}          

form label, input {
    display: block;
}

form label {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
}

form input {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

form #form-button {
    font-weight: bold;
    margin-top: 10px;
    padding: 8px;
    font-size: 18px;
    color: black;
    background-color: #176658;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form #form-button:hover {
    color: #327864;
    background-color: #173936;
}

.warning {
    max-width: 200px;
    margin-top: 18px;
    padding: 8px !important;
    border-radius: 5px;
    font-size: 16px !important;
    font-weight: bold;
    background-color: #fff;
    color: #173936;
    border: 4px;
    border-style: solid;
    border-color: red;
}

/*Sehschwäche style*/

.farbenblind {
    color: black;
    background-color: white;
}

.farbenblind a {
    color: black;
}

.farbenblind form input {
    border: 2px solid black;
}

.farbenblind #form-button {
    font-weight: bold;
    margin-top: 10px;
    padding: 8px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.farbenblind #form-button:hover {
    background-color: #ccc;
}

.farbenblind .warning {
    background-color: white; 
    color: black;
    border-color: orange; 
}