* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    color: #173936;
    background-color: #327864;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.message {
    margin-top: 100px;
    margin-left: 100px;
    width: 600px;
}

p {
    margin-bottom: 10px;
}

table.adminbereich { 
    width: 100%; 
    border-collapse: 
    collapse; 
}
        
th.adminbereich, td.adminbereich { 
    padding: 10px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}
        
.btn { 
    padding: 5px 10px; 
    margin: 0 2px; 
    cursor: pointer; 
}