* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    color: #173936;
    background-color: #327864;
    min-height: 100vh;
    min-width: 800px;
}

#auge-button {
    background-color: transparent;
    background-image: url("../images/auge.png");
    margin-right: 20px;
    height: 60px;
    width: 82px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #327864;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-box button {
    margin-right: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
}

.dashboard-main {
    margin-top: 40px;
    margin-left: 60px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 30px;
}

.xform {
    margin-top: -60px;
}

.xform p {
    padding-top: 20px;
    font-size: 16px;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

form label {
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
}

form input {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

button {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 18px;
    color: black;
    background-color: #176658;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: #327864;
    background-color: #173936;
}

.xlogo {
    margin-top: 100px;
    justify-content: center;
}

.xlogo img {
    width: 300px;
    height: 300px;
    pointer-events: none;
}

.warning {
    max-width: 200px;
    margin-top: 18px;
    padding: 8px !important;
    border-radius: 5px;
    font-size: 16px !important;
    font-weight: bold;
    background-color: #fff;
    color: #173936;
    border: 4px;
    border-style: solid;
    border-color: red;
}

.farbenblind {
    color: black;
    background-color: white;
}

.farbenblind a {
    color: black;
}

.farbenblind form input {
    border: 2px solid black;
}

.farbenblind button {
    font-weight: bold;
    margin-top: 10px;
    padding: 8px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.farbenblind button:hover {
    background-color: #ccc;
}

.farbenblind .warning {
    background-color: white; 
    color: black;
    border-color: orange; 
}

.farbenblind nav {
    background-color: #ccc;
}

/* Tabellenstyle*/
.tabelle {
    display: block;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
}

table form {
    display: inline;
    justify-content: center;
    gap: 10px;
    margin: 0;
}

table { 
    width: 50%; 
    max-width: 1200px; 
    border-collapse: collapse; 
    border: 1px solid black;
    margin-top: 20px;
    color: black;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    width: 25%;
}

.time-display {
    font-size: 1.2em;
    margin-top: 10px;
}

th {
    background-color: white;
}

.zeitanpassung {
    display: flex;
    flex-direction: column; /* Elemente untereinander anordnen */
    align-items: flex-start; /* Elemente links ausrichten */
}


.zeitanpassung table {
    width: 100%; /* Optional: Tabelle auf volle Breite setzen */
}

.message {
    margin-top: 100px;
    margin-left: 100px;
    width: 550px;

}

th {
    height: 36px;
    background-color: #ccc;
}

td {
    height: 36px;
}

select {
    font-size: 18px;
    width: 120px;
    height: 30px;
    background-color: ccc;
}